* {
    margin: 0;
    padding: 0;
}

main {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F9FBFF;
    font-family: Nunito;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
}

footer {
    width: 1400px;
    height: 60px;
    background-color: #EDF0F5;
    margin: 0 auto;
    /* padding-top: 18px; */
}

.header {
    display: flex;
}

.btn_play {
    position: absolute;
    top: 43.2%;
    left: 43.2%;
    z-index: 1;
}

.header__item {
    position: relative;
}

.header__item:first-child {
    width: 253px;
    padding-left: 180px;
}

.header__item:last-child {
    background-color: #415167;
    width: 328px;
    padding-top: 74px;
    padding-left: 56px;
}

.logo {
    padding-top: 76px;
    margin-bottom: 392px;
}

.header__bg_img {
    height: 100%;
    filter: contrast(150%) brightness(80%);
}

.header__item_text {
    position: relative;
    z-index: 3;
}

.header__cart {
    margin-bottom: 118px;
}
.nav__item {
    margin-bottom: 30px;
    font-family: Nunito;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #d4d4d4;
    font-weight: 200;
}

.nav__item:hover {
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.nav__item.active {
    color: #EDF0F5;
    font-weight: bold;
    line-height: 22px;
}

.favorite__coffee{
    height: 894px;
    display: flex;
}

.arrow__btn_combo {
    position: absolute;
    top: 40%;
    right: 4%;
    z-index: 1;
}

.arrow__btn_mark {
    position: absolute;
    top: 40%;
    right: 4%;
    z-index: 1;
}

.giftset__text {
    position: absolute;
    color: #415167;
    font-style: normal;
    width: 100%;
    padding-top: 86px;
}

.giftset__text h3 {
    font-family: Nunito;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.giftset__text h2 {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
}

.text {
    color: #415167;
    font-style: normal;
    width: 100%;
    padding-top: 86px;
    /* position: absolute; */
}

.text h3 {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
}

.text h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
}

.coffee__img {
    display:flex;
    justify-content:space-between;
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 90px;
    margin-bottom: 130px;
}

.cofee__img_item {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #151D28;
}

.cofee__img_item img {
    margin-bottom: 35px;
}

.cofee__img_item h2 {
    margin-bottom: 12px;
}

.left__block {
    position: absolute;
    width: 384px;
    height: 894px;
    background-color: #415167;
    margin-left: 0px;
    margin-top: 0px;
}

.mark__coffee {
    position: absolute;
    margin-left: 67px;
    margin-top: 206px;
}

.line_mark__coffee_item {
    width: 560px;
    height: 256px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}

.line_mark__coffee_item:hover {
    box-shadow: 0px 0px 17px 2px rgba(34, 60, 80, 0.2);
}

.line_mark__coffee {
    display: flex;
    margin-left: 29px;
}

.line_mark__coffee_item_text {
    width: 325px;
    font-family: Nunito;
    padding-left: 45px;
    padding-top: 42px;
    padding-right: 53px;
    font-weight: 700;
    color: #232C38;
    background-color: #FFFFFF;
}
/* .img_mark__coffee_item img {
    height: 256px;
    width: 256px;
} */

.mark__coffee_info__card p:first-child {
    color: #C7A17A;
    margin-bottom: 8px;
}

.mark__coffee_info__card p:last-child {
    font-weight: normal;
    margin-top: 24px;
}

.mark__coffee_info__card {
    margin-bottom: 30px;
}

.img_mark__coffee_item {
    background-color: #EDF0F5;
}

.img_mark__coffee_item_cut {
    background-color: #EDF0F5;
    height: 256px;
    margin-left: 30px;
    margin-bottom: 30px;
    opacity: 0.4;
}

.giftset {
    position: relative;
    display: flex;
}

.giftset__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 794px;
    height: 460px;
    background-color: #fff;
    margin-top: 216px;
    margin-left: 386px;
}

.giftset__item__text {
    width: 430px;
    margin-top: 64px;
    margin-left: 299px;
}

.giftset__item__img {
    position: absolute;
    top: 51px;
    left: -255px;
}

.giftset__item_options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    width: 95%;
}

.giftset__item_options__items {
    display: flex;
}

.giftset__item_options_icon {
    margin-right: 19px;
}

.giftset__item__text_price {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
    margin-bottom: 12px;
}

.giftset__item__text h3 {
    margin-bottom: 12px;
}

.giftset__item_description {
    margin-bottom: 24px;
}

.giftset__left__block {
    width: 1074px;
    height: 802px;
    background-color: #EDF0F5;
    /* position: absolute; */
}

.giftset__item_switcher{
    position: relative;
    top:216px;
    right: -108px;
}

.giftset__item__text_switcher{
    width: 88px;
    height: 154px;
    background: #EDF0F5;
    opacity: 0.3;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    /* line-height: 34px; */
    color: #415167;
    text-align: center;
    line-height: 154px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.giftset__item__text_switcher_active{
    width: 88px;
    height: 154px;
    background: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    /* line-height: 34px; */
    color: #415167;
    text-align: center;
    line-height: 154px;
}

.combo {
    height: 906px;
    position: relative;
}

.combo__items {
    display: flex;
    justify-content: space-between;
    margin-left: 98px;
    margin-top: 64px;
    position: relative;
    z-index: 1;
}

.combo__items_card {
    /* width: 500px; */
    /* height: 562px; */
    min-width: 360px;
    margin-left: 30px;
    background-color: #FFFFFF;
    
}

.combo__items_card:hover {
    box-shadow: 0px 0px 17px 2px rgba(34, 60, 80, 0.2);
}

.combo__items__img {
    background-color: #EDF0F5;
    text-align: center;
}

.combo__items_card_text {
    margin-top: 42px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Nunito;
    font-style: normal;
}

.combo__items_card_text h2 {
    margin-bottom: 10px;
}

.combo__items_card p {
    margin-bottom: 38px;
    text-align: justify;
    font-size: 16px;
}

.combo__items__price {
    margin-bottom: 10px;
}

.btn {
    /* по-умолчанию для <button>, но пригодится для <a> */
    display: inline-block;
    text-align: center;
    /* text-decoration: none; */
    border-radius: 15px;
 /* размер строится из текста и отступов (без width/height) */
    padding: 0.5em 1em;
 /* убедитесь, что достаточно контраста! */
    background-color: #C7A17A;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    width: 150px;
    color: #F9FBFF;
 }

 .btn_mark_width {
    width: 130px;
 }

 .btn__flex {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-bottom: 42px;
 }

.btn__flex_width {
    width: 85%;
}

.combo__items__price span:first-child {
    color: #C7A17A;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-right: 15px;
    font-family: Nunito;
    font-style: normal;
}

.combo__items__price span:last-child {
    text-decoration-line: line-through;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #415167;
}

.combo__items_card_cut {
    overflow:hidden;
    width: 360px;
    /* width: 100%; */
    /* height: 562px; */
    margin-left: 30px;
    opacity: 0.4;
    background-color: #fff;
    white-space:nowrap;
}

.combo__items_card_cut div:first-child {
    width: 360px;
    /* height: 300px; */
}

.combo__items_card_cut h3 {
    margin-bottom: 10px;
}

.combo__items_card_cut p {
    margin-bottom: 38px;
    text-align: justify;
}

.right__block {
    position: absolute;
    width: 326px;
    height: 906px;
    background-color: #415167;
    right: 0px;
    top: 0px;
}

.footer__text {
    font-family: Nunito;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding-top: 20px;
}

